opencv-python
torch
numpy
ultralytics
supervision
keras
tensorflow
altgraph==0.17.4
annotated-types==0.6.0
anyio==3.7.1
beanie==1.23.6
blinker==1.7.0
certifi==2023.7.22
click==8.1.7
dnspython==2.4.2
ecdsa==0.18.0
email-validator==2.1.0.post1
fastapi==0.104.1
uvicorn[standerd]
Flask==3.0.0
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-model==0.2.0
macholib==1.16.3
MarkupSafe==2.1.3
motor==3.3.2
orjson==3.9.10
packaging==23.2
passlib==1.7.4
pyasn1==0.5.0
pydantic==2.5.1
pydantic-extra-types==2.1.0
pydantic-settings==2.1
python-decouple
python-jose
python-multipart
